# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/tmp
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
**/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
web/coverage/base.css
web/coverage/block-navigation.js
web/coverage/coverage-final.json
web/coverage/favicon.png
web/coverage/index.html
web/coverage/prettify.css
web/coverage/prettify.js
web/coverage/sort-arrow-sprite.png
web/coverage/sorter.js
web/coverage/useInterestManagement.ts.html
web/coverage/useMapNavigation.utils.ts.html
web/coverage/useMessages.utils.ts.html
