BASE_URL=
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_KEY=
FIRESTORE_EMULATOR_HOST=
LOCALITY=
MESSAGE_RELEVANCE_DAYS=
MONGODB_DATABASE=
MONGODB_URI=
NEXT_PUBLIC_BASE_URL=
NODE_ENV=
USE_FIREBASE_EMULATORS=
PORT=
PUBLIC_API_KEYS=
PUBLIC_API_RATE_LIMIT_PER_MINUTE=
SENTRY_DSN=